<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">



    <!-- save -->
    <insert id="save" parameterType="com.baizhi.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user value (#{id},#{username},#{realname},#{password},#{sex},#{status},#{registerTime})
    </insert>

    <!-- findByUserName -->
    <select id="findByUserName" parameterType="string" resultType="com.baizhi.entity.User">
        select  id,username,realname,password,sex,status,registerTime
            from  t_user
            where username=#{username}
    </select>


</mapper>